.App{
    text-align: center;
    color: #fff;
    min-height: 100vh;
}
.main{
    color: black;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    padding: 14px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #253f71;
    color: #fff;
    font-size: 25px;
    padding: 25px;
    margin: 25px;
}

.heading{
    color: black;
    font-size: 80px;
    margin: 10px;
}

