.App{
  text-align: center;
  color: #fff;
  min-height: 100vh;
}

.header{
  background-color: #253f71;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
}

.footer{
  background-color: blue;
}

h1{
  margin: 0;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}

.movie{
  border-radius: 10px;
  background-color: #5589eb;
  color: #fff;
  border: 2px solid rgb(174, 174, 174);
  padding: 10px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  width: 11%;
}

.movie img{
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

